/* Gradiente animado en navbar y footer */
.bg-gradient-to-r {
    background-size: 200% 200%;
    animation: gradientMove 6s ease infinite;
}



@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

nav {
    background: linear-gradient(90deg, #004e92, #000428);
    height: 70px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #e5e7eb;
    font-weight: 500;
    transition: 0.3s;
    padding: 8px 14px;
    border-radius: 8px;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
}

.userBtn {
    background: #ffffff;
    color: #004e92;
    font-weight: 600;
    border-radius: 9999px;
    padding: 6px 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.userBtn:hover {
    background: #f3f4f6;
    transform: scale(1.05);
}


.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo i {
    font-size: 11 rem;
    color: #ffcc00;
}

footer {
    background: linear-gradient(90deg, #000428, #004e92);
    color: #f1f5f9;
    padding: 2.5rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer h4 {
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

footer p,
footer a {
    font-size: 0.9rem;
    color: #e2e8f0;
    text-decoration: none;
}

.footer_1{
    text-align: center;
}

footer a:hover {
    color: #fff;
}


/* Footer redes sociales con efecto burbuja */
footer a {
    transition: transform 0.3s ease, color 0.3s ease;
}

footer a:hover {
    transform: translateY(-4px) scale(1.2);
    color: #facc15;
    /* amarillo */
}